<h1>BBQ</h1>



<ul>
  <li><%= link_to 'Brisket', brisket_path %></li>
  <li><%= link_to 'Ribs', ribs_path %></li>
  <li><%= link_to 'Turkey', turkey_path %></li>
  <li><%= link_to 'Veggies', veggies_path %></li>
</ul>
