// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

img {
  max-width: 100%;
}

body {
  margin: 0;
  background: #ECF0F1;
}

article {

  padding: 1rem;

  h1 {
    text-align: center;
    font-size: 4rem;
    margin: 0;
  }
}

.show {
  text-align: center;
}

.bbq_list_item {
  width: 20%;
  float: left;
  height: 200px;
  overflow: hidden;
  a {
    color: darken(grey, 20%);
    text-decoration: none;
    &:hover {
      color: lighten(grey, 20%);
    }
  }
}
